@*@model IEnumerable<AppAfpaBrive.BOL.ProduitFormation>*@
@model ReflectionIT.Mvc.Paging.PagingList<AppAfpaBrive.BOL.ProduitFormation>
@using ReflectionIT.Mvc.Paging
@addTagHelper *, ReflectionIT.Mvc.Paging

<nav aria-label="ProduitFormation navigation">
    @await this.Component.InvokeAsync("Pager", new { paginglist = this.Model })
</nav>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Liste des Produits de Formation </h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="ProduitFormation" asp-action="Create" class="btn btn-primary">
                <i class="fas fa-plus-square"></i> &nbsp; Créer un nouveau Produit de Formation
            </a>
        </div>
        <form method="get" class="form-inline">
            <input name="filter" class="form-control" placeholder="filtre" value="@Model.RouteValue["filter"]"/>
            @*<button type="submit" class="btn btn-info">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search
            </button>*@
        </form>
    </div>

    <br /><br />

    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%" >
            <thead>
                <tr>
                    <th>
                        @Html.SortableHeaderFor(Model=>Model.CodeProduitFormation)
                    </th>
                    <th>
                        @Html.SortableHeaderFor(model => model.NiveauFormation)
                    </th>
                    <th>
                        @Html.SortableHeaderFor(model => model.LibelleProduitFormation)
                    </th>
                    <th>
                        @Html.SortableHeaderFor(model => model.LibelleCourtFormation)
                    </th>
                    @*<th>
                        @Html.SortableHeaderFor(model => model.FormationContinue)
                    </th>
                    <th>
                        @Html.SortableHeaderFor(model => model.FormationDiplomante)
                    </th>*@
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr id="ligne">
                        <td width="15%">@obj.CodeProduitFormation</td>
                        <td width="10%">@obj.NiveauFormation</td>
                        <td width="30%">@obj.LibelleProduitFormation</td>
                        <td width="20%">@obj.LibelleCourtFormation</td>
                        @*<td width="10%">@obj.FormationContinue</td>
                        <td width="10%">@obj.FormationDiplomante</td>*@
                        <td>
                            <div class="w-75 btn-group" role="group">
                                <a asp-controller="ProduitFormation" asp-route-Id="@obj.CodeProduitFormation" asp-action="Edit" class="btn btn-primary">
                                    <i class="fas fa-edit"></i> Modifier
                                </a>
                                <a asp-controller="ProduitFormation" asp-route-Id="@obj.CodeProduitFormation" asp-action="Delete" class="btn btn-danger">
                                    <i class="fas fa-trash"></i> Supprimer
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    }
    else
    {
        <p> Il n'y a pas de produits de formation</p>
    }

    <nav aria-label="produitFormation navigation example">
        <vc:pager paging-list="@Model"/>
    </nav>

</div>


