@model ReflectionIT.Mvc.Paging.PagingList<AppAfpaBrive.Web.ModelView.ValidationPee.ListePeeAValiderModelView>
@using ReflectionIT.Mvc.Paging
@addTagHelper *,ReflectionIT.Mvc.Paging

<h2 class="text-primary">Liste des périodes en entreprise à valider</h2>
<hr />
<div class="container">
    @if (Model.Count > 0)
     {
        <nav aria-label="">
            @await this.Component.InvokeAsync("Pager", new { pagingList = this.Model })
        </nav>

        <div class="row">
            <div class="col-md-4">
                @Html.DisplayNameFor(model => model.NomBeneficiaire)
            </div>
            <div class="col-md-4">
                @Html.DisplayNameFor(model => model.PrenomBeneficiaire)
            </div>
            <div class="col-md-4">
                @Html.DisplayNameFor(model => model.RaisonSociale)
            </div>
        </div>
        @foreach (var item in Model)
        {
            <a asp-action="PeeEntrepriseValidation" asp-route-id="@item.IdPee">
                <div class="row">
                    <div class="col-md-4">
                        @Html.DisplayFor(model => item.NomBeneficiaire)
                    </div>
                    <div class="col-md-4">
                        @Html.DisplayFor(model => item.PrenomBeneficiaire)
                    </div>
                    <div class="col-md-4">
                        @Html.DisplayFor(model => item.RaisonSociale)
                    </div>
                </div>
            </a>
        }
        <nav aria-label="">
            @await this.Component.InvokeAsync("Pager", new { pagingList = this.Model })
        </nav>
    }
</div>