@model IEnumerable<AppAfpaBrive.Web.ModelView.PeeModelView>

<h4>Periode en entreprise à valider</h4>
<hr />
<div class="container">
    <div class="row">
        <div class="col-md-4">
            @Html.DisplayNameFor(model => model.MatriculeBeneficiaireNavigation.NomBeneficiaire)
        </div>
        <div class="col-md-4">
            @Html.DisplayNameFor(model => model.MatriculeBeneficiaireNavigation.PrenomBeneficiaire)
        </div>
        <div class="col-md-4">
            @Html.DisplayNameFor(model => model.IdEntrepriseNavigation.RaisonSociale)
        </div>
    </div>
    @foreach (var item in Model)
    {
        <a asp-action="ValidationPee" asp-route-id="@item.IdPee">
            <div class="row">
                <div class="col-md-4">
                    @Html.DisplayFor(model => item.MatriculeBeneficiaireNavigation.NomBeneficiaire)
                </div>
                <div class="col-md-4">
                    @Html.DisplayFor(model => item.MatriculeBeneficiaireNavigation.PrenomBeneficiaire)
                </div>
                <div class="col-md-4">
                    @Html.DisplayFor(model => item.IdEntrepriseNavigation.RaisonSociale)
                </div>
            </div>
        </a>
    }

</div>