@model IEnumerable<AppAfpaBrive.BOL.Pee>

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdEntreprise)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdResponsableJuridiqueNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTuteurNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatriculeBeneficiaireNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdEntreprise)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id.IdEtablissement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdResponsableJuridiqueNavigation.NomProfessionnel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTuteurNavigation.NomProfessionnel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatriculeBeneficiaireNavigation.MatriculeBeneficiaire)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPee">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdPee">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPee">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
