@model List<AppAfpaBrive.Web.Models.Creation_convention>
<form method="post">
    <div class="border p-3 border-info rounded text-center">
        @if (Model.Count() > 0)
        {
            @foreach (var item in Model)
            {
                <label class="text-info h5">Formation:</label><br /> @item.Formation<br />
                <label class="text-info h5">Etablissement: </label><br /> @item.Etablissement<br />
                <label class="text-info h5">Date de début de formation: </label><br />@item.DateDebut.ToString("dd-MM-yyyy")<br />
                <label class="text-info h5">Date de la fin de formation:</label><br /> @item.Datefin
                @if (@item.Datefin == null)
                {
                    <label> Date inconnue</label>
                }
                <br />
                <div class="text-right">
                    <a asp-controller="Convention" asp-action="Entreprise" asp-route-Id="@item.IdFormation" class="btn btn-primary">
                        Créer une convention de stage
                    </a>
                </div>
            }
        }
        else
        {
            <label>Vous n'avez pas de formation.</label>
        }
    </div>
    
</form>