@model List<AppAfpaBrive.BOL.Professionnel>

@{
    var list = ViewBag.pro as List<AppAfpaBrive.BOL.Professionnel>;
    foreach (var item in list)
    {
        <label>@item.NomProfessionnel</label>
        <label>@item.PrenomProfessionnel</label>
    }
}
<form method="post">
    <div>
        <h2>
            Veuillez sélectionner votre tuteur et votre résponsble juridique.
        </h2>
    </div>
    <div>
        @if (Model.Count() > 0)
        {
            int i = 0;
            <table class="table table-bordered table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>
                            Nom
                        </th>
                        <th>
                            Prénom
                        </th>
                        <th>
                            Sélectionner en tant que tuteur
                        </th>
                        <th>
                            Sélectionner en tant que responsable juridique
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {

                        <tr id="ligne">
                            <td width="20%">
                                @item.NomProfessionnel
                            </td>
                            <td width="20%">
                                @item.PrenomProfessionnel
                            </td>
                            <td width="20%">
                                @Html.RadioButton("tuteur", item.IdProfessionnel, true)
                                @*<input type="button" class="btn btn-primary w-100" value="Sélectionner"></input>*@
                            </td>
                            <td width="20%">
                                @Html.RadioButton("Responsable", item.IdProfessionnel, true)
                                @*<input type="button" class="btn btn-primary w-100" value="Sélectionner "></input>*@
                            </td>

                        </tr>
                        i++;
                    }
                </tbody>
            </table>
        }
        else
        {
            <p> Personne de connue dans la base de donnée.</p>
        }
    </div>
    <div>
        <a asp-action="Entreprise_recap" class="btn btn-success"><i class="fas fa-sign-out-alt"></i> retour</a>
        <a asp-action="Professionel_Creation" class="btn btn-success"><i class="fas fa-sign-out-alt"></i> Ajouter</a>
        <input class="btn btn-primary" type="submit" value="go" />
    </div>
</form>