@model List<AppAfpaBrive.Web.ModelView.Pro_Session_ModelView>


<form method="post" class="text-center">
    <div>
        <h2 class="text-info">
            Veuillez sélectionner votre tuteur et votre résponsble juridique.
        </h2>
    </div>
    <div class="row justify-content-center text-info">
        @if (Model.Count() > 0)
        {
            int i = 0;
            <table class="table table-responsive" style="width:100%">
                <thead>
                    <tr>
                        <th>
                            Nom:
                        </th>
                        <th>
                            Prénom:
                        </th>
                        <th>
                            Tuteur:
                        </th>
                        <th>
                            Responsable juridique:
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {

                        <tr id="ligne">
                            <td width="15%">
                                @item.NomProfessionnel                               
                            </td>
                            <td width="15%">
                                @item.PrenomProfessionnel
                                <input hidden="hidden" value="@item.AdresseMail" />
                                <input hidden="hidden" value="@item.NumerosTel" />
                                <input hidden="hidden" value="@item.Fonction" />
                            </td>
                            <td width="10%">
                                @Html.RadioButton("tuteur", i,true)
                            </td>
                            <td width="10%">
                                @Html.RadioButton("Responsable", i,true)
                            </td>
                        </tr>
                        i++;
                    }
                </tbody>
            </table>
        }
        else
        {
            <p> Personne de connue dans la base de donnée.</p>
        }
    </div>
    <div>
        <a asp-action="Professionel_Creation" class="btn btn-success"><i class="fas fa-arrow-circle-up"></i> Ajouter une nouvelle reference <i class="fas fa-arrow-circle-up"></i></a>
        <br />
        <div class="m-2">
            <a asp-action="Entreprise_recap" class="btn btn-success"><i class="fas fa-arrow-circle-left"></i> retour</a>
            <input class="btn btn-primary" type="submit" value="Valider" />
        </div>
        
    </div>
</form>