@model AppAfpaBrive.Web.Models.FilesModel;


<div class="border p-3">
    <div class="form-group row">
        <h2 class="text-info pl-3">Récapitulatif de votre convention de stage: </h2>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group row">
                <div class="col-12">
                    <label class="col-4"> Etablissement </label>
                    <label class="col-6">@ViewBag.convention.Etablissement</label>
                </div>
                <div class="col-12">
                    <label class="col-4"> Raison sociale: </label>
                    <label class="col-6">@ViewBag.convention.Formation </label>
                </div>
                <div class="col-12">
                    <label class="col-4"> Entreprise </label>
                    <label class="col-6">@ViewBag.convention.Entreprise_raison_social </label>
                </div>
                <div class="col-12">
                    <label class="col-4"> Siret: </label>
                    <label class="col-6">@ViewBag.convention.Siret</label>
                </div>
                <div class="col-12">
                    <label class="col-4"> Tuteur: </label>
                    <label class="col-6">@ViewBag.convention.TuteurNom @ViewBag.convention.TuteurPrenom </label>
                </div>
                <div class="col-12">
                    <label class="col-4"> Responsable: </label>
                    <label class="col-6">@ViewBag.convention.ResponsableNom @ViewBag.convention.ResponsablePrenom </label>
                </div>
                @foreach (var item in ViewBag.dates)
                {
                    <div class="col-12">
                        <label class="col-4"> Date de Début du stage: </label>
                        <label class="col-6">@item.Date1.ToString("yyyy-MM-dd") </label>
                    </div>
                    <div class="col-12">
                        <label class="col-4"> Date de fin du stage: </label>
                        <label class="col-6">@item.Date2.ToString("yyyy-MM-dd") </label>
                    </div>
                }
            </div>
            <div class="form-group row">
                <div class="col-8 offset-4 row">
                    <div class="text-center m-1">
                        <a asp-action="date" class="btn btn-success w-100 m-2"><i class="fas fa-sign-out-alt"></i> Retour</a>
                    </div>
                    <div class="text-center m-1">
                        <input type="submit" class="btn btn-primary w-100 m-2" value="Terminer" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class=""></div>
<form method="post"
      asp-action="Upload"
      asp-controller="FileUpload"
      enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input asp-for="file" />
    <span asp-validation-for="file" class="text-danger"></span>
    <input type="submit" value="Upload" />
</form>