@model AppAfpaBrive.Web.ModelView.BeneficiaireModelView
@using AppAfpaBrive.BOL

@{
    ViewData["Title"] = "Edit";
}


<h1>Stagiaire</h1>


<head>
    <Link rel="stylesheet" href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" />
</head>

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("ChargerStagiaire", "EditerInfosStagiaire2", FormMethod.Post))
        {
            <form asp-action="Edit2" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="MatriculeBeneficiaire" />
                <div class="row">
                    <div class="form-group form-check">
                        <div>
                            <label asp-for="CodeTitreCivilite" class="control-label">Civilité</label>
                        </div>
                        <div class="form-check-label">
                            <label>Monsieur</label>
                            @Html.RadioButton("Genre", "0", true)
                            <span asp-validation-for="CodeTitreCivilite" class="text-danger"></span>
                        </div>
                        <div class="form-check-label">
                            <label>Madame</label>
                            @Html.RadioButton("Genre", "1")
                            <span asp-validation-for="CodeTitreCivilite" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 form-group">
                        <label asp-for="NomBeneficiaire" class="control-label">Nom</label>
                        <input asp-for="NomBeneficiaire" class="form-control" />
                        <span asp-validation-for="NomBeneficiaire" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 form-group">
                        <label asp-for="PrenomBeneficiaire" class="control-label">Prénom</label>
                        <input asp-for="PrenomBeneficiaire" class="form-control" />
                        <span asp-validation-for="PrenomBeneficiaire" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 form-group">
                        <label asp-for="DateNaissanceBeneficiaire" class="control-label">Date de naissance</label>
                        <input asp-for="DateNaissanceBeneficiaire" class="form-control" />
                        <span asp-validation-for="DateNaissanceBeneficiaire" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 form-group">
                        <label asp-for="MailBeneficiaire" class="control-label">Adresse E-mail</label>
                        <input asp-for="MailBeneficiaire" class="form-control" />
                        <span asp-validation-for="MailBeneficiaire" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 form-group">
                        <label asp-for="TelBeneficiaire" class="control-label">Téléphone</label>
                        <input asp-for="TelBeneficiaire" class="form-control" />
                        <span asp-validation-for="TelBeneficiaire" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 form-group">
                        <label asp-for="Ligne1Adresse" class="control-label">Adresse</label>
                        <input asp-for="Ligne1Adresse" class="form-control" /><br />
                        <span asp-validation-for="Ligne1Adresse" class="text-danger"></span>
                        <div>
                            <input asp-for="Ligne2Adresse" class="form-control" placeholder="Adresse 2" /><br />
                            <span asp-validation-for="Ligne2Adresse" class="text-danger"></span>
                        </div>
                        <div>
                            <input asp-for="Ligne3Adresse" class="form-control" placeholder="Adresse 3" />
                            <span asp-validation-for="Ligne3Adresse" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 form-group">
                        <label asp-for="CodePostal" class="control-label">Code Postal</label>
                        <input asp-for="CodePostal" id="inputCodePostal" class="form-control" />
                        <span asp-validation-for="CodePostal" class="text-danger"></span>
                    </div>
                    <div class="col-sm-3 form-group">
                        <label asp-for="Ville" class="control-label">Ville</label>
                        <input asp-for="Ville" id="inputVille" class="form-control" />
                        <span asp-validation-for="Ville" class="text-danger"></span>
                    </div>
                    <div class="col-sm-2 form-group">
                        <label asp-for="IdPays2" class="control-label">Pays</label>
                        <div>
                            @Html.DropDownListFor(model => model.Pays, new SelectList(ViewBag.LibellePays as IEnumerable<string>, selectedValue: "FRANCE"), new { id = "ddlPays" })
                        </div>
                        <span asp-validation-for="IdPays2" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5 form-group">
                        <label asp-for="PathPhoto" class="control-label">Photo</label>
                        <input asp-for="PathPhoto" type="file" id="upload" accept="image/*" onchange="loadFile(event)" class="form-control" />
                        <span asp-validation-for="PathPhoto" class="text-danger"></span>
                    </div>
                    <div class="col-sm-8 form-group">
                        <img hidden id="output" height="200" width="200" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group form-check">
                        <div>
                            <label asp-for="MailingAutorise" class="control-label">Mailing Autorisé</label>
                        </div>
                        <div class="form-check-label">
                            <label>Oui</label>
                            @Html.RadioButton("Mailing", "0", true)
                            <span asp-validation-for="MailingAutorise" class="text-danger"></span>
                        </div>
                        <div class="form-check-label">
                            <label>Non</label>
                            @Html.RadioButton("Mailing", "1")
                            <span asp-validation-for="MailingAutorise" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Revenir au menu d'édition" class="btn btn-danger" asp-controller="EditerInfosStagiaire" asp-action="ListeOffreFormation" />
                    <input type="submit" value="Enregistrer" class="btn btn-primary" asp-controller="EditerInfosStagiaire2" asp-action="ChargerStagiaire" />
                </div>
            </form>
        }
    </div>

</div>

@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    @*//Test UpLoad Image//*@
    <script type="text/javascript">

        //Chargement Image
        var loadFile = function (event) {
            var imageView = document.getElementById('output');
            imageView.src = URL.createObjectURL(event.target.files[0]);
            imageView.onload = function () {
                imageView.hidden = false
                URL.revokeObjectURL(imageView.src)
            }
        };

        //Composant d'affichage des communes en fonction du code postal
        $(document).ready(function () {
            $("[id*=inputVille]").focus(function () {

                //var request = new XMLHttpRequest();
                //request.open('GET', 'https://api.zippopotam.us/')
                var url = "https://api.zippopotam.us/fr"
                var Pays = $("[id*=ddlPays]").val()
                var CP = $("[id*=inputCodePostal]").val()
                $.ajax({
                    url: url + "/" + CP,
                    dataType: "json",
                    type: "GET",
                    success: function (result, success) {
                        suggestions = [];
                        for (i in result['places']) {
                            suggestions.push(result['places'][i]['place name']);
                        }
                        $("[id*=inputVille]").autocomplete({ source: suggestions, delay: 10, disabled: false, minLength: 2 });
                        if (suggestions.length > 0) {
                            $("[id*=inputVille]").placeholder = suggestions[0];
                        }
                    }
                })
            })
        })

    </script>
}


