@model IEnumerable<AppAfpaBrive.BOL.Beneficiaire>

@{
    ViewData["Title"] = "StagiaireParOffreDeFormation";
}

<h1 class="text-center">@ViewBag.MonTitre</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomBeneficiaire)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrenomBeneficiaire)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.MailBeneficiaire)
            </th>
            
            
            <th>
                @Html.DisplayNameFor(model => model.MailingAutorise)
            </th>
            <
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomBeneficiaire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrenomBeneficiaire)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.MailBeneficiaire)
            </td>
           
            
            <td>
                @Html.DisplayFor(modelItem => item.MailingAutorise)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.MatriculeBeneficiaire">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MatriculeBeneficiaire">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MatriculeBeneficiaire">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
