@model AppAfpaBrive.BOL.AnnuaireSocial.LigneAnnuaire

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LigneAnnuaire</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublicConcerne)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublicConcerne)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceAbrege)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceAbrege)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Service)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Service)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Conditions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Conditions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Structure)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Structure.IdStructure)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdLigneAnnuaire">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
