@model AppAfpaBrive.Web.ModelView.BeneficiaireNavigationModelView

@{
    ViewData["Title"] = "Menu Beneficiaire";
}
    <div class="container border-success">
        <a asp-controller="" asp-action="" asp-route-id="@Model.MatriculeBeneficiaire">
            <div class="row">
                <div class="col-6">
                    <p class="text-left text-primary">@Model.ToString()</p>
                </div>
                <div class="col-6">
                    <p class="text-right">@Html.DisplayNameFor(e => e.MatriculeBeneficiaire) : @Model.MatriculeBeneficiaire</p>
                </div>
            </div>
        </a>
    </div>
    <div class="container">
        <nav class="navbar navbar-light bg-light">
            <a asp-controller="Convention" asp-action="Index" asp-route-id="@Model.MatriculeBeneficiaire." class="navbar-brand">
                <img src="/docs/4.5/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
                Convention
            </a>
        </nav>
    </div>