@model ReflectionIT.Mvc.Paging.PagingList<AppAfpaBrive.BOL.AnnuaireSocial.Structure>
@using ReflectionIT.Mvc.Paging
@addTagHelper *, ReflectionIT.Mvc.Paging

<nav aria-label="structure navigation">
    @await this.Component.InvokeAsync("Pager", new { paginglist = this.Model })
</nav>



<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Liste des structures</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="StructureAnnuaire" asp-action="Create" class="btn btn-primary">
                <i class="fas fa-plus-square"></i> &nbsp; Ajouter une nouvelle structure
            </a>
        </div>
        <form method="get" class="form-inline">
            <input name="filter" class="form-control" placeholder="filtre" value="@Model.RouteValue["filter"]" />

        </form>
    </div>

    <br /><br />

    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        @Html.SortableHeaderFor(Model => Model.NomStructure)
                    </th>
                    <th>
                        @Html.SortableHeaderFor(model => model.LigneAdresse1)
                    </th>
                    <th>
                        @Html.SortableHeaderFor(model => model.LigneAdresse2)
                    </th>
                    <th>
                        @Html.SortableHeaderFor(model => model.LigneAdresse3)
                    </th>
                    <th>
                        @Html.SortableHeaderFor(model => model.CodePostal)
                    </th>
                    <th>
                        @Html.SortableHeaderFor(model => model.Ville)
                    </th>
                    <th>
                        @Html.SortableHeaderFor(model => model.Mail)
                    </th>

                    <th>
                        @Html.SortableHeaderFor(model => model.Telephone)
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr id="ligne">
                        <td width="20%">@obj.NomStructure</td>
                        <td width="15%">@obj.LigneAdresse1</td>
                        <td width="15%">@obj.LigneAdresse2</td>
                        <td width="15%">@obj.LigneAdresse3</td>
                        <td width="10%">@obj.CodePostal</td>
                        <td width="15%">@obj.Ville</td>
                        <td width="10%">@obj.Mail</td>
                        <td width="10%">@obj.Telephone</td>

                        <td>
                            <div class="w-75 btn-group" role="group">
                                <a asp-controller="StructureAnnuaire" asp-route-Id="@obj.IdStructure" asp-action="Edit" class="btn btn-primary">
                                    <i class="fas fa-edit"></i> Modifier
                                </a>
                                <a asp-controller="StructureAnnuaire" asp-route-Id="@obj.IdStructure" asp-action="Delete" class="btn btn-danger" onclick="return confirm('Confirmer')">
                                    <i class="fas fa-trash"></i> Supprimer
                                </a>
                            </div>
                        </td>
                    
                    </tr>
                }
            </tbody>
        </table>

    }
    else
    {
        <p> Il n'y a pas de structures</p>
    }

    <nav aria-label="structures navigation example">
        <vc:pager paging-list="@Model" />
    </nav>

</div>

