@model AppAfpaBrive.BOL.OffreFormation

@{
    ViewData["Title"] = "OffreDeFormationBeneficiaire";
}

<h1>OffreDeFormationBeneficiaire</h1>


<table class="table">
    
    <tbody>
@foreach (var item in Model.BeneficiaireOffreFormations) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MatriculeBeneficiaire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatriculeBeneficiaireNavigation.PrenomBeneficiaire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatriculeBeneficiaireNavigation.MailBeneficiaire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatriculeBeneficiaireNavigation.MailingAutorise)
            </td>
            
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
           
        </tr>
}
    </tbody>
</table>
