@model AppAfpaBrive.Web.ModelView.OffreFormationModelView


@{
    ViewData["Title"] = "OffreDeFormationBeneficiaire";
}

<h1>OffreDeFormationBeneficiaire</h1>

@Html.DropDownListFor(model => model.


<table class="table">
    
    <tbody>
@foreach (var item in Model.BeneficiaireOffreFormations) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MatriculeBeneficiaireNavigation.NomBeneficiaire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatriculeBeneficiaireNavigation.PrenomBeneficiaire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatriculeBeneficiaireNavigation.MailBeneficiaire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatriculeBeneficiaireNavigation.MailingAutorise)
            </td>
            
             
           
        </tr>
}
    </tbody>
</table>
