@model AppAfpaBrive.BOL.Pee
@using AppAfpaBrive.BOL;

@{
    List<PeriodePee> LitsPeriode = new List<PeriodePee>();

    LitsPeriode = ViewData["PeriodePee"] as List<PeriodePee>;
    IEnumerable<Pee> ListPee = ViewData["ListPeeSansDoublons"] as IEnumerable<Pee>;
    

}
<div class="table container-fluid">
    <table id="myTable" class="table table-bordered table-hover table-striped table-sm col-sm-8 text-lg-center">
        <thead class="thead-light ">
            <tr>

                <th>Nom Beneficiaire</th>
                <th>Prénom Beneficiaire</th>
                <th>
                    <table class="popover-header">
                        <tr>ENTREPRISE D'ACCUEUIL</tr>
                    </table>
                </th>
                <th>

                    <table>
                        <tr>Pee</tr>
                    </table>
            </tr>
        </thead>
        <tbody>
            @{ int len = 0;
     int idEntreprise = 0;

     if (ListPee != null)
     {

         foreach (var item in ListPee)
         {

            <tr>

                <td>@item.MatriculeBeneficiaireNavigation.NomBeneficiaire</td>
                <td>@item.MatriculeBeneficiaireNavigation.PrenomBeneficiaire</td>
                <td>
                    <table>
                        <tr>
                            @{

                                List<Pee> listPee = new List<Pee>(item.MatriculeBeneficiaireNavigation.Pees);
                                foreach (var ele in listPee)
                                {
                                    int countItem = listPee.Count();
                                    if (listPee.Count() > 1 && countItem >= len && idEntreprise != ele.IdEntreprise)
                                    {
                                        <td>@ele.IdEntrepriseNavigation.RaisonSociale</td>
                                        idEntreprise = ele.IdEntreprise;
                                    }
                                    else if (idEntreprise != ele.IdEntreprise || listPee.Count() <= 1)
                                    {
                                        <td>@ele.IdEntrepriseNavigation.RaisonSociale</td>
                                    }

                                    len = item.IdEntrepriseNavigation.Pees.Count();
                                }

                            }

                        </tr>

                    </table>
                </td>
                <td>
                    <table>
                        <tr>
                            @foreach (var element in item.MatriculeBeneficiaireNavigation.Pees)
                            {

                                if (element.MatriculeBeneficiaire == item.MatriculeBeneficiaire)
                                {

                                    <td>
                                        @Html.ActionLink($"Convention_{element.PeriodePees.FirstOrDefault(pr => pr.IdPee == element.IdPee).DateDebutPeriodePee.ToString("MMddyyy")}",
                                                "ChargementDocPee",
                                                new { id = element.IdPee },
                                                new { @class = "btn btn-primary border" }
                                               )
                                    </td>
                                }

                            }

                        </tr>
                    </table>
                </td>

            </tr>
        }
    }
    else
    {

    }
            }

        </tbody>
    </table>
</div>


