@model AppAfpaBrive.BOL.Contrat

<div>
    <h4 class="text-info font-weight-bold">Votre dernière situation connue : </h4>
</div>
<hr />
<div>
    @{
        if (Model.LibelleFonction is null)
        {
            <p>Sortie de formation / Sans emploi</p>
        }
        else
        {
            <div class="row">
                <p class="col-sm-4 col-md-12">Entreprise : @Model.IdEntrepriseNavigation.RaisonSociale</p>
                <p class="col-sm-4 col-md-12">Poste : @Model.LibelleFonction</p>
                <p class="col-sm-4 col-md-12">Type de contrat : @Model.TypeContratNavigation.DesignationTypeContrat</p>
                <p class="col-sm-4 col-md-12">Date d'embauche : @Model.DateEntreeFonction.ToShortDateString()</p>
                @{
                    if (Model.DateSortieFonction == null)
                    {
                        <p class="col-sm-4 col-md-12">Date de fin de contrat : contrat en cours </p>
                    }
                    else
                    {
                        <p class="col-sm-4 col-md-12">Date de fin de contrat : @Model.DateSortieFonction </p>
                    }
                }
            </div>
        }
    }
</div>

<div>
    <p class="font-weight-bold">Êtes-vous toujours dans cette situation ?</p>
    <div class="buttons_yes_no">
        <a asp-action="AuRevoir" class="btn btn-info btn-sm" id="same_situation">Oui</a>
        @{
            if (Model.LibelleFonction is null)
            {
                <a asp-action="ChercherEntreprise" class="btn btn-info btn-sm" id="not_same_situation">Non</a>
            }
            else
            {
                <a href="#changement_entreprise" class="btn btn-info btn-sm" data-toggle="collapse" id="not_same_situation">Non</a>
            }
        }
    </div>
</div>
<br />
<div id="changement_entreprise" class="collapse">
    <p class="font-weight-bold">Avez-vous changé d'entreprise ?</p>
    <div class="buttons_yes_no">
        <a asp-action="ChercherEntreprise" role="button" class="btn btn-info btn-sm" id="change_entreprise">Oui</a>
        <a asp-action="ModifierContrat" role="button" class="btn btn-info btn-sm" id="same_entreprise">Non</a>
    </div>
</div>

