@model AppAfpaBrive.Web.ModelView.RecapModelView

    <div>
        <h4 class="text-info font-weight-bold">Récapitulatif :</h4>
    </div>
    <hr />
    <form asp-action="DisplayRecap" method="post">
        <dl class="row align-self-center">
            <dt class="col-sm-3">Votre entreprise :</dt>
            <dd class="col-sm-9">
                Raison sociale : @Model.Entreprise.RaisonSociale<br />
                Siret : @Model.Entreprise.NumeroSiret <br />
                Adresse : @Model.Entreprise.Ligne1Adresse,

                @{
                    if (Model.Entreprise.Ligne2Adresse is not null)
                    {
                        @: @Model.Entreprise.Ligne2Adresse,;
                    }
                    if (Model.Entreprise.Ligne3Adresse is not null)
                    {
                        @: @Model.Entreprise.Ligne3Adresse,;
                    }
                }

                @Model.Entreprise.CodePostal @Model.Entreprise.Ville <br />

                @{
                    if (Model.Entreprise.TelEntreprise is not null)
                    {
                        @:Téléphone : @Model.Entreprise.TelEntreprise
                    }
                    if (Model.Entreprise.MailEntreprise is not null)
                    {
                        @: Mail : @Model.Entreprise.MailEntreprise
                    }
                }
            </dd>

            <dt class="col-sm-3">Votre situation actuelle : </dt>
            <dd class="col-sm-9">
                Intitulé de poste : @Model.Contrat.LibelleFonction <br />
                @*Type de contrat : @Model.Contrat.TypeContratNavigation.DesignationTypeContrat<br />*@
                Début du contrat : @Model.Contrat.DateEntreeFonction.ToShortDateString()<br />
                Fin du contrat :
                @{
                    if (Model.Contrat.DateSortieFonction is null)
                    {
                        @: contrat en cours
                    }
                    else
                    {
                        @: @Model.Contrat.DateSortieFonction.Value.ToShortDateString()
                    }
                }
            </dd>
        </dl>
        <div class="form-group">
            <input type="submit" value="Valider" class="btn btn-info" />
        </div>
    </form>
   

