@model List<AppAfpaBrive.Web.ModelView.AnnuaireModelView.ContactModelView>
@using ReflectionIT.Mvc.Paging
@addTagHelper *, ReflectionIT.Mvc.Paging




<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Selectionner des contacts à associer</h2>
        </div>

        <form method="get" class="form-inline">

            @if (Model.Count() > 0)
            {
                <table class="table table-bordered table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>
                                Titre civilité
                            </th>
                            <th>
                                Nom
                            </th>
                            <th>
                                Prénom
                            </th>
                            <th>
                                Mail
                            </th>
                            <th>
                                Téléphone
                            </th>
                            <th>
                                Selectionner
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var obj in Model)
                        {
                            <tr id="ligne" class="model">
                                <td>@obj.TitreCivilite.TitreCiviliteAbrege</td>
                                <td>@obj.Nom</td>
                                <td>@obj.Prenom</td>
                                <td>@obj.Mail</td>
                                <td>@obj.Telephone</td>
                                <td>
                                    <input asp-for="@obj.IsChecked" type="checkbox" class="form-check-label" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            }
            else
            {
                <p> Il n'y a pas de contacts</p>
            }

            <div class="form-group">
                <input type="submit" value="Suivant" class="btn btn-primary" />
            </div>
        </form>
    </div>

    <br /><br />

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


