@model ICollection<AppAfpaBrive.Web.ModelView.AnnuaireModelView.ContactModelView>
@{
    ViewData["Title"] = "Modification des contacts pour une ligne d'annuaire";
}

<h1>Modification</h1>

<h4>LigneAnnuaire</h4>
<hr />

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Selectionner des contacts à associer</h2>
        </div>

        <form method="post" class="form-inline">
            @if (Model.Count() > 0)
            {
                <table class="table table-bordered table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>
                                Titre civilité
                            </th>
                            <th>
                                Nom
                            </th>
                            <th>
                                Prénom
                            </th>
                            <th>
                                Mail
                            </th>
                            <th>
                                Téléphone
                            </th>
                            <th>
                                Selectionner
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr id="ligne" class="model">
                                <td>@item.TitreCivilite.TitreCiviliteAbrege</td>
                                <td>@item.Nom</td>
                                <td>@item.Prenom</td>
                                <td>@item.Mail</td>
                                <td>@item.Telephone</td>
                                <td>
                                    <input type="hidden" asp-for="@item.IdContact" />
                                    <input type="hidden" asp-for="@item.Nom">
                                    <input type="hidden" asp-for="@item.IdTitreCivilite">
                                    <input type="hidden" asp-for="@item.TitreCivilite">
                                    <input type="hidden" asp-for="@item.Prenom">
                                    <input type="hidden" asp-for="@item.Mail">
                                    <input type="hidden" asp-for="@item.Telephone<">
                                </td>

                                <td>
                                    <input asp-for="@item.IsChecked" type="checkbox" class="form-check-label" />
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>

            }
            else
            {
                <p> Il n'y a pas de contacts</p>
            }



            <div class="form-group">
                <input type="submit" value="Suivant" class="btn btn-primary" />
            </div>

        </form>
    </div>

    <br /><br />

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
