@model List<AppAfpaBrive.Web.ModelView.EntrepriseListViewModel>

@{
    ViewData["Title"] = "ListeEntreprise";
}

<head>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>


</head>


<form asp-controller="Entreprise" asp-action="ListeEntreprise">
    <div class="container">
        <div class="row">

            <div class="col-sm-4">
                <p>Recherche par numéro de département: </p>
                <p>
                    <input type="search" placeholder=" département" value="@ViewData["GetDepartement"]" name="departement" />
                </p>
            </div>
            <div class="col-sm-4">
                <p>Recherche par l'intitulé de l'offre de formation: </p>
                <p>
                    <input type="text" placeholder=" formation" @*value="@ViewData["GetProduitForm"]"*@ name="formation" id="productName" />


                </p>
            </div>
            <div class="col-sm-4">
                <input type="submit" value="Rechercher" class="btn btn-primary" />
            </div>

        </div>
    </div>
</form>


<table class="table">
    <thead>
        <div class="row">
            <tr>

                <div class="col-md-3">
                    <th>
                        Raison sociale
                    </th>
                </div>
                <div class="col-md-3">
                    <th>
                        E-Mail
                    </th>
                </div>
                <div class="col-md-3">
                    <th>
                        Téléphone
                    </th>
                </div>
                <div class="col-md-3">
                    <th>
                        Ville
                    </th>
                </div>

            </tr>
        </div>

    </thead>
    <tbody>

        @if (Model != null)
        {


            foreach (var item in Model)
            {
                <div class="row">
                    <tr>
                        <div class="col-md-3">
                            <td>
                                @Html.DisplayFor(modelItem => item.RaisonSociale)
                            </td>
                        </div>
                        <div class="col-md-3">
                            <td>
                                @Html.DisplayFor(modelItem => item.MailEntreprise)
                            </td>
                        </div>
                        <div class="col-md-3">
                            <td>
                                @Html.DisplayFor(modelItem => item.TelEntreprise)
                            </td>
                        </div>
                        <div class="col-md-3">
                            <td>
                                @Html.DisplayFor(modelItem => item.Ville)
                            </td>
                        </div>

                        @*<td>
                                <a asp-action="Edit" asp-route-id="@item.IdEntreprise">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.IdEntreprise">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.IdEntreprise">Delete</a>
                            </td>*@

                    </tr>
                </div>
            }
        }

    </tbody>
</table>
@section Scripts{
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
        $(document).ready(function () {
            $('#productName').autocomplete({
                source: '/api/AutoCompleteOffreFormationApi/search'
            });
        });
    </script>
}
