@model IEnumerable<AppAfpaBrive.BOL.Entreprise>

@{
    ViewData["Title"] = "ListeEntreprise";
}
<div class="row">
    <div class="col-md-12">
        <h1>Liste des entreprises ayant accueillit des stagiaires</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">Numéro de département</label>
            <input class="form-control" />
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">Famille de metier ROME</label>
            <input class="form-control" />
        </div>
    </div>
</div>
<div class="form-group">
    <input type="submit" value="Rechercher" class="btn btn-primary" />
</div>

<table class="table">
    <thead>
        <div class="row">
            <tr>

                <div class="col-md-3">
                    <th>
                        @Html.DisplayNameFor(model => model.RaisonSociale)
                    </th>
                </div>
                <div class="col-md-3">
                    <th>
                        @Html.DisplayNameFor(model => model.MailEntreprise)
                    </th>
                </div>
                <div class="col-md-3">
                    <th>
                        @Html.DisplayNameFor(model => model.TelEntreprise)
                    </th>
                </div>
                <div class="col-md-3">
                    <th>
                        @Html.DisplayNameFor(model => model.Ville)
                    </th>
                </div>

            </tr>
        </div>

    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <div class="row">
                <tr>
                    <div class="col-md-3">
                        <td>
                            @Html.DisplayFor(modelItem => item.RaisonSociale)
                        </td>
                    </div>
                    <div class="col-md-3">
                        <td>
                            @Html.DisplayFor(modelItem => item.MailEntreprise)
                        </td>
                    </div>
                    <div class="col-md-3">
                        <td>
                            @Html.DisplayFor(modelItem => item.TelEntreprise)
                        </td>
                    </div>
                    <div class="col-md-3">
                        <td>
                            @Html.DisplayFor(modelItem => item.Ville)
                        </td>
                    </div>
                    @*


                        <td>
                            <a asp-action="Edit" asp-route-id="@item.IdEntreprise">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.IdEntreprise">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.IdEntreprise">Delete</a>
                        </td>*@
                </tr>
            </div>
        }

    </tbody>
</table>
