@*@model List<AppAfpaBrive.Web.ModelView.EntrepriseListViewModel>*@
@model ReflectionIT.Mvc.Paging.PagingList<AppAfpaBrive.BOL.Entreprise>
@using ReflectionIT.Mvc.Paging
@addTagHelper *, ReflexionIT.Mvc.Paging

@{
    ViewData["Title"] = "Liste des entreprises";
}

<head>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <meta name="viewport" content="width=device-width" />
</head>



<form asp-controller="Entreprise" asp-action="ListeEntreprise">
    <div class="container">
        <div class="row">

            <div class="col-sm-4">
                <p>Recherche par numéro de département: </p>
                <p>
                    <input type="search" placeholder=" département" value="@ViewData["GetDepartement"]" name="departement" />
                </p>
            </div>
            <div class="col-sm-4">
                <p>Recherche par l'intitulé de l'offre de formation: </p>
                <p>
                    <input type="text" placeholder=" formation" value="@ViewData["GetProduitForm"]" name="formation" id="productName" />


                </p>
            </div>
            <div class="col-sm-4">
                <input type="submit" value="Rechercher" class="btn btn-primary" />
            </div>

        </div>
    </div>
</form>

@if (Model != null)
{
    foreach (var item in Model)
    {
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-info">@Html.DisplayFor(modelItem => item.RaisonSociale)</h5>
                        <p class="card-text">
                            <div class="container">
                                <div class="row border bg-light">
                                    <div class="col">E-Mail</div>
                                    <div class="col">@Html.DisplayFor(modelItem => item.MailEntreprise)</div>
                                </div>
                                <div class="row border bg-light">
                                    <div class="col">Téléphone</div>
                                    <div class="col"> @Html.DisplayFor(modelItem => item.TelEntreprise)</div>
                                </div>
                                <div class="row border bg-light">    
                                    <div class="col">Ville</div>
                                    <div class="col">@Html.DisplayFor(modelItem => item.Ville)</div>
                                </div>
                                </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
}

<nav aria-label="pagination">
    @await this.Component.InvokeAsync("Pager", new { PagingList = this.Model })
</nav>

<nav aria-label="pagination">
    <vc:pager paging list="@Model" />
</nav>

@section Scripts{
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
        $(document).ready(function () {
            $('#productName').autocomplete({
                source: '/api/AutoCompleteOffreFormationApi/search'
            });
        });
    </script>
}
